@{
    ViewData["Title"] = "Home Page";
}

<style>
    .main-row {
        display: flex;
    }

    .center-row {
        width: 100%;
        padding-left: 10px;
    }

    .left-row {
        width: 500px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #image {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        display: block;
        width: 100%;
        width: 500px;
        height: auto;
    }

    #name {
        font-size: 24px;
        font-style: normal black;
    }

    #price {
        font-size: 18px;
        color: red;
    }
</style>

@{
    var l = String.Concat("~/Views/ProductsPartial/", ViewBag.ProductType.EditPage.ToString(), ".cshtml");
}

<div class="main-row">
    <div class="left-row">
    </div>
    <div class="center-row">
        <div>
            Name: <input id="prdName" type="text" value="@ViewBag.Product.Name" style="width: 650px"/>
        </div>
        <div>
            Price: <input id="prdPrice" type="number" value="@ViewBag.Product.Price" />
        </div>
        <div>
            Product type: @ViewBag.ProductType.Name
        </div>

        <input type="hidden" id="productId" value="@ViewBag.Product.Id" />
        <input type="hidden" id="prdType" value="@ViewBag.Product.TypeId" />
        <input type="hidden" id="image" value="@ViewBag.Product.ImagePath" />
        <input type="hidden" id="userId" value="@ViewBag.Product.UserId" />
        
        <partial name="@l.ToString()" model="@ViewBag.ProductData" />

        <div class="submit-block">
            <button id="edit" onclick="ReadFilds()">Submit</button>
        </div>
    </div>
</div>

<script>  
    var obj = {};

    function ReadFilds() {
        if (@ViewBag.Product.TypeId == 1)
        {
            GpuFields();
        }
    }

    function GpuFields()
    {
        obj.productId = document.getElementById("productId").value;
        obj.prdName = document.getElementById("prdName").value;
        obj.prdPrice = document.getElementById("prdPrice").value;
        obj.prdType = document.getElementById("prdType").value;
        obj.imagePath = document.getElementById("image").value;
        obj.userId = document.getElementById("userId").value;

        obj.vendor = document.getElementById("vendor").value;
        obj.chip = document.getElementById("chip").value;
        obj.ram = document.getElementById("ram").value;
        obj.memory = document.getElementById("memory").value;
        obj.id = document.getElementById("dataId").value;

        console.log(obj);

        let formdata = new FormData();

        for (var key in obj)
        {
            formdata.append(key, obj[key]);
        }

        $.ajax({
            url: "/Product/Edit",
            type: "POST",
            data: formdata,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (result) {
                if(result==true)
                {
                    alert("Editted!");
                }
            }
        });
    }
</script>